app-civa/build/
app-civa/nbproject/private/
app-civa/dist/

app-civa/nbproject/private/
app-civa/build/
app-civa/nbbuild/
app-civa/dist/
app-civa/nbdist/
app-civa/nbactions.xml
app-civa/nb-configuration.xml


app-civa/nbproject/project.properties
app-civa/nbproject/private/private.properties
app-civa/nbproject/ant-deploy.xml


